MONGODB_URI=mongodb+srv://USUARIO:CONTRASENA@CLUSTER/BASE?retryWrites=true&w=majority
JWT_SECRET=REEMPLAZAR_POR_UN_SECRETO_LARGO_Y_ALEATORIO
PORT=4000
CLIENT_ORIGIN=http://localhost:5173
ADMIN_EMAIL=admin@good.local
ADMIN_PASSWORD=CAMBIAR_ESTA_CLAVE
UPLOAD_DIR=./server/uploads
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
